{% extends 'demo/base.html' %}{% load static %} 

{% block FB_T %}

$('#user_id').text(fb_userID);
{% endblock %}

{% block FB_K %}
alert('Please Sign In with FB First.')
window.location.replace('/dm_home/');
{% endblock %}
{% block FB_U %} 
alert('Please Sign In with FB First.')
window.location.replace('/dm_home/');
{% endblock %}

{% block BodyContent %}

<head>
    <style>
        #get_article {
            height: 300px;
        }
        
        .ui.action.input input[type="file"] {
            display: none;
        }
        
        .ui.action.input {
            margin-bottom: 10px;
        }
        
        #stats_segment {
            margin-bottom: 1.5em;
        }
        
        #sigma-container {
            height: 70%;
        }

        .dm-tab{
            padding:0.92857143em 0.5em !important;
        }
    </style>

    <!-- Sigma.js -->
    <script src="{% static './front_end/demo/static/custom/js/sigma.min.js'  %}"></script>
    <script src="{% static './front_end/demo/static/custom/js/sigma.parsers.json.min.js'  %}"></script>

    <script>
        $(document).ready(function() {

            // Upload txt button
            $("input:text").click(function() {
                $(this).parent().find("input:file").click();
            });

            // Upload txt button
            $('input:file', '.ui.action.input')
                .on('change', function(e) {
                    var name = e.target.files[0].name;
                    $('input:text', $(e.target).parent()).val(name);
                });

            // dropdown menu-tab
            $('.dropdown').dropdown();
            $('.menu .item').tab();

            // Analyze ajax request 
            $('#article_analyze').click(function() {
                    $.ajax({
                        url: "../dm_analyze/",
                        data: {
                            'article': $('#get_article').val(),
                            'fb_user_id': $('#user_id').text()
                        },
                        success: function(data) {
                            var data = JSON.stringify(data);
                            var json = JSON.parse(data);
                            console.log(json);
                            clean_output();
                            stats_update(json);
                            $('.dropdown').dropdown();
                        }
                    });
                })
                // Add words to market
            $('#add_to_market').click(function() { // $('*[data-tab="words_market"]').click(function() {
                $('#new_words_market').empty();
                var wanted_list = [];
                for (i = 0; i < $('.ui.label.transition.visible').length; i++) {
                    wanted_list.push($('.ui.label.transition.visible')[i].dataset.value);
                };
                wanted_list = $.unique(wanted_list);
                for (i = 0; i < wanted_list.length; i++) {
                    $('#new_words_market').append("<tr><td><button class='ui labeled icon button market_word' data-value='" +
                        wanted_list[i] + "'>" +
                        "<i class='remove circle icon'></i>" +
                        wanted_list[i] + "</button></td><td></td></tr>"
                    );
                };
                $('.market_word').click(function() {
                    $(this).closest("tr").remove();
                });
            });
            //  Enter key-in wanna words 
            $('#hand_to_add').click(function() {
                handToAdd();
            });
            //  Enter key-in wanna words 
            $("#wanna_this_word").keypress(function(e) {
                if (e.which == 13 || e.keyCode == 13) {
                    handToAdd();
                };
            });
            // key-in wanna words function
            function handToAdd() {
                var wanted_list = [];
                for (i = 0; i < $('.market_word').length; i++) {
                    wanted_list.push($('.market_word')[i].dataset.value);
                };
                if ($('#wanna_this_word').val() != "") {
                    if ($.inArray($('#wanna_this_word').val(), wanted_list) == -1) {
                        $('#new_words_market').append("<tr><td><button class='ui labeled icon button market_word' data-value='" +
                            $('#wanna_this_word').val() + "'>" +
                            "<i class='remove circle icon'></i>" +
                            $('#wanna_this_word').val() + "</button></td><td></td></tr>"
                        );
                        $('#wanna_this_word').val('');
                        $('.market_word').click(function() {
                            $(this).closest("tr").remove();
                        });
                    } else {
                        alert("字詞: " + $('#wanna_this_word').val() + "已經在欲新增字詞表了。")
                        $('#wanna_this_word').val('');
                    }
                } else {
                    alert('It cant be space, please add word!');
                }
            }
            // Update the basic_stats
            function stats_update(json) {
                $('#dm_total_words').text(json.dm_total_words);
                $('#dm_used_words').text(json.dm_used_words);
                $('#dm_total_segwords').text(json.dm_total_segwords);
                $('#dm_used_segwords').text(json.dm_used_segwords);
                for (i = 0; i < json.dm_sentences.length; i++) {
                    $('#article_output').append("<tr><td>" + json.dm_seg_words[i].map(i => i).join('/') + "</td>" +
                        "<td><div class='ui multiple dropdown'><input type='hidden' name='filters'> \
                                <i class='filter icon'></i><span class='text'>新增字詞</span><div class='menu'> \
                                <div class='ui icon search input'><i class='search icon'></i><input type='text' placeholder='Search words...'></div> \
                                <div class='scrolling menu'> " +
                        json.dm_sentences_2_3_gram[i].map(i => '<div class="item wanted_word" data-value="' + i[0] + '"><div class="ui red empty circular label"></div>' + i[0] + '</div>').join('') +
                        "</div></div></td></tr>");

                };
                for (i = 0; i < json.dm_hf_mix_words.length; i++) {
                    $('#dm_hf_mix_words').append("<tr><td>" + json.dm_hf_mix_words[i][0] + "</td><td>" +
                        json.dm_hf_mix_words[i][1] + "</td></tr");
                }

                for (i = 0; i < json.dm_hf_words.length; i++) {
                    $('#dm_hf_words').append("<tr><td>" + json.dm_hf_words[i][0] + "</td><td>" +
                        json.dm_hf_words[i][1] + "</td></tr");
                }

                for (i = 0; i < json.dm_hf_2gram.length; i++) {
                    $('#dm_hf_2gram').append("<tr><td>" + json.dm_hf_2gram[i][0] + "</td><td>" +
                        json.dm_hf_2gram[i][1] + "</td></tr");
                }
                for (i = 0; i < json.dm_hf_coshow_words.length; i++) {
                    $('#dm_hf_coshow_words').append("<tr><td>" + json.dm_hf_coshow_words[i][0] + "</td><td>" +
                        json.dm_hf_coshow_words[i][1] + "</td></tr");
                }

                try {
                    s = new sigma({
                        graph: JSON.parse(json.dm_coshow_words_graph),
                        container: 'sigma-container',
                        settings: {
                            defaultNodeColor: '#00B5AD',
                            defaultEdgeColor: '#00B5AD',
                            labelThreshold: 1,
                            maxEdgeSize:10
                        }
                    });
                } catch (err) {
                    console.log('eerroorr');
                }
            }
            // Clean all the output
            function clean_output() {
                $('#article_output, #new_words_market, #dm_hf_mix_words, #dm_hf_words, #dm_hf_2gram, \
                   #dm_hf_coshow_words, #sigma-container').empty();
                $('#dm_total_words, #dm_used_words, #dm_total_segwords, #dm_used_segwords').text(0);
            }
            // Remake Ajax request sent with whe added wanted_words
            $('#check_new_remake').click(function() {
                $('#analyze_modal')
                    .modal({
                        blurring: true
                    }).modal('show');
                $('#go_remake').click(function() {
                    var wanted_list = [];
                    for (i = 0; i < $('.market_word').length; i++) {
                        wanted_list.push($('.market_word')[i].dataset.value);
                    };
                    if ($.isEmptyObject(wanted_list) == false) {
                        var wanted_list = JSON.stringify(wanted_list);
                        $.ajax({
                            url: "../dm_analyze/",
                            data: {
                                'article': $('#get_article').val(),
                                'wanted_list': wanted_list,
                                'fb_user_id': $('#user_id').text()
                            },
                            success: function(data) {
                                var data = JSON.stringify(data);
                                var json = JSON.parse(data);
                                clean_output();
                                stats_update(json);
                                $('.dropdown').dropdown();
                                console.log('Successfully Remake!');
                            }
                        });
                    } else {
                        alert('Please add some words.');
                    }
                });
            });
        });
    </script>
</head>
<div class="ui one column doubling stackable grid container">
    <div class="column">
        <h2 class="ui header mf-header">Artucle Input</h2>
        <div class="ui attached segment">
            <div class="ui grid">
                <div class="sixteen wide tablet twelve wide computer column">
                    <h3>Paste Article</h2>
                        <div class="ui form">
                            <div class="field">
                                <textarea id="get_article">報紙，或稱報章、新聞紙，是一種以重量較輕，價值較低的紙張印刷而成，閱讀後即可任意處置的出版品。報紙上通常刊載不同主題的新聞、消息、評論、專欄等，並且常附帶有商業廣告。這些不同的主題包括政治事件、犯罪、體育、意見、天氣、星座運勢等等，報紙通常也包括卡通或其他娛樂，如數獨、填字遊戲。</textarea>
                            </div>
                        </div>
                </div>
                <div class="sixteen wide tablet four wide computer column">
                    <h3>Upload...</h2>
                        <div class="ui disabled action input">
                            <input type="text" placeholder="Upload Dictionary" readonly>
                            <input type="file">
                            <div class="ui icon button">
                                <i class="upload icon"></i>
                            </div>
                        </div>
                        <div class="ui disabled action input">
                            <input type="text" placeholder="Upload Stop Words" readonly>
                            <input type="file">
                            <div class="ui icon button">
                                <i class="upload icon"></i>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached button teal" id="article_analyze" tabindex="0">GO Analyze!</div>

        <h2 class="ui header mf-header">Words Ouput</h2>
        <div class="ui attached segment" style="min-height:500px;">
            <div class="ui top attached tabular menu">
                <a class="item dm-tab" data-tab="article_stats">文章統計</a>
                <a class="active item dm-tab" data-tab="words_network">共現網絡</a>
                <a class="item dm-tab" data-tab="words_result">斷詞句結果</a>
                <a class="item dm-tab" data-tab="words_market">欲新增列表</a>
            </div>
            <div class="ui bottom attached tab segment" data-tab="article_stats" style="height:800px;overflow-x: scroll;">
                <div class="ui four statistics segment" id="stats_segment">
                    <div class="statistic">
                        <div class="value" id="dm_total_words">
                            0
                        </div>
                        <div class="label">
                            總字數
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value" id="dm_used_words">
                            0
                        </div>
                        <div class="label">
                            使用字數
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value" id="dm_total_segwords">
                            0
                        </div>
                        <div class="label">
                            總斷詞數
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value" id="dm_used_segwords">
                            0
                        </div>
                        <div class="label">
                            總用詞數
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui two column doubling grid">
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="content">
                                    <div class="header">高頻字</div>
                                    <div class="meta">出現次數較多之字</div>
                                    <div style="height:200px;overflow-x: scroll;">
                                        <table class="ui celled small selectable table">
                                            <thead>
                                                <tr>
                                                    <th>高頻字詞</th>
                                                    <th>次數</th>
                                                </tr>
                                            </thead>
                                            <tbody id="dm_hf_mix_words">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="content">
                                    <div class="header">高頻字詞</div>
                                    <div class="meta">出現次數較多之字詞(二字以上)</div>
                                    <div style="height:200px;overflow-x: scroll;">
                                        <table class="ui celled small selectable table">
                                            <thead>
                                                <tr>
                                                    <th>高頻字詞</th>
                                                    <th>次數</th>
                                                </tr>
                                            </thead>
                                            <tbody id="dm_hf_words">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui two column doubling grid">
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="content">
                                    <div class="header">高頻2-gram</div>
                                    <div class="meta">出現次數較多之2-gram</div>
                                    <div style="height:200px;overflow-x: scroll;">
                                        <table class="ui celled small selectable table">
                                            <thead>
                                                <tr>
                                                    <th>高頻2-gram</th>
                                                    <th>次數</th>
                                                </tr>
                                            </thead>
                                            <tbody id="dm_hf_2gram">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="content">
                                    <div class="header">高頻共現字詞組</div>
                                    <div class="meta">共現在同一句次數較多之字詞組合</div>
                                    <div style="height:200px;overflow-x: scroll;">
                                        <table class="ui celled small selectable table">
                                            <thead>
                                                <tr>
                                                    <th>共現字詞組</th>
                                                    <th>次數</th>
                                                </tr>
                                            </thead>
                                            <tbody id="dm_hf_coshow_words">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="words_network" style="height:800px;overflow-x: scroll;">
                <div class="ui segment" id="sigma-container">
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="words_result" style="height:800px;overflow-x: scroll;">
                <table class="ui celled small selectable table">
                    <thead>
                        <tr>
                            <th>斷句與分詞結果</th>
                            <th>n-gram與新增詞彙</th>
                        </tr>
                    </thead>
                    <tbody id="article_output">
                    </tbody>
                </table>
                <button class="fluid ui button" id="add_to_market">送至新增列表</button>
            </div>
            <div class="" style="display: none" id="user_id"></div>
            <div class="ui bottom attached tab segment" data-tab="words_market" style="height:800px;overflow-x: scroll;">
                <div class="ui right labeled left icon fluid input">
                    <i class="tags icon"></i>
                    <input type="text" placeholder="Add New Word Here..." id="wanna_this_word">
                    <a class="ui tag teal label" id="hand_to_add">Add Word</a>
                </div>
                <table class="ui celled small selectable table">
                    <thead>
                        <tr>
                            <th>欲新增詞彙</th>
                            <th>分類</th>
                        </tr>
                    </thead>
                    <tbody id="new_words_market">
                    </tbody>
                </table>
                <button class="fluid ui teal button" id="check_new_remake">確認新增字詞，並且重新分析!</button>
            </div>
        </div>
        <div class="ui mini modal" id="analyze_modal">
            <div class="ui icon header">
                <i class="terminal icon"></i> RE-ANALYZE!
            </div>
            <div class="actions">
                <div class="ui gray basic cancel button">
                    <i class="remove icon"></i> No
                </div>
                <div class="ui teal ok button" id="go_remake">
                    <i class="checkmark icon"></i> Yes
                </div>
            </div>
        </div>
    </div>
    {% endblock %}